@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h4><i>  Ehrgo Health enables patients to verify new medication and track allergy history. </i></h4>
</p>


<p>
    <h4><i> Ehrgo Health enables medical providers to consume data directly from the patient-maintained system </i></h4>
</p>
