@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<ul class="list-group">
    <li class="list-group-item">Eric Greene:  egreene7@gatech.edu</li>
    <li class="list-group-item">Huarui Zheng: hzheng63@gatech.edu</li>
    <li class="list-group-item">Donna Carey: dcarey8@gatech.edu</li>
    <li class="list-group-item">Tommy Parnell: tparnell@gatech.edu</li>
    <li class="list-group-item">James Ruiz: jruiz30@gatech.edu</li>
</ul>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@