@{
    ViewBag.Title = "Contact";
}
<div class="panel panel-success">
    <div class="panel panel-heading">
        <h2>@ViewBag.Title Ehrgo Health Team</h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"><strong>Eric Greene:</strong>  egreene7@gatech.edu</li>
        <li class="list-group-item list-group-item-info"><strong>Huarui Zheng:</strong> hzheng63@gatech.edu</li>
        <li class="list-group-item list-group-item-info"><strong>Donna Carey:</strong> dcarey8@gatech.edu</li>
        <li class="list-group-item list-group-item-info"><strong>Tommy Parnell:</strong> tparnell@gatech.edu</li>
        <li class="list-group-item list-group-item-info"><strong>James Ruiz:</strong> jruiz30@gatech.edu</li>
    </ul>
</div>
@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@