@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive" style="width:100%" src="~/Content/Images/EHRdata.jpg" width="300" height="250" />
        </div>
        <div class="col-sm-8">
            <h2><font color="#4863A0"><i>Welcome to Ehrgo Health</i></font></h2>
            <ul>
                <li class="lead">
                    The app to verify your treatment plan safety
                </li>
                <li class="lead">
                    Enables patients to verify new medication and track allergy history.
                </li>
                <li class="lead">
                    Enables medical providers to consume data directly from the patient-maintained system.
                </li>
            </ul>  
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2><a href='@Url.Action("Index", "Home", new { Area = "Patient" })'>Patient Portal</h2>
        <a href='@Url.Action("Index", "Home", new { Area = "Patient" })'>
            <img class="img-rounded img-responsive" style="width:95%" src="~/Content/Images/EHR_Patient.jpg" width="300" height="250" />
        </a> 
    </div>
    <div class="col-md-6">
        <h2><a href='@Url.Action("Index", "Home", new { Area = "Staff" })'>Provider Portal</h2>
        <a href='@Url.Action("Index", "Home", new { Area = "Staff" })'>
            <img class="img-rounded img-responsive" style="width:95%" src="~/Content/Images/EHR_Staff.png" width="300" height="250" />
        </a>           
    </div>
</div>