@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><font color="#4863A0"><i>Ehrgo</i> Health</font></h1>

    <p class="lead">The app to verify your treatment plan safety</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Patient Portal</h2>
        <a href='@Url.Action("Index", "Home", new { Area = "Patient" })'>
            <img src="~/Content/Images/EHR_Patient.jpg" width="300" height="250" />
        </a>
        
       
    </div>
    <div class="col-md-6">
        <h2>Provider Portal</h2>
        <a href='@Url.Action("Index", "Home", new { Area = "Staff" })'>
            <img src="~/Content/Images/EHR_Staff.png" width="300" height="250" />
        </a>        
        
    </div>
</div>