@model EhrgoHealth.Web.Areas.Patient.Models.Allergy
@{
    ViewBag.Title = "Add Medication Allergy";
}
<h1>Add name of Medication You are Allergic To:</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/Medicine.jpg" width="200" height="150" />
    </div>

    <div class="col-md-8">
        @using (Html.BeginForm("AllergyHistory", "Home"))
            {
            <div class="row">
                <p>Enter allergic medication:</p>
            </div>
                <div class="row">
                    @Html.TextBoxFor(m => m.MedicationName)
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <input type="submit" value="Add Allergy" />
                </div>

        }
    </div>
</div>

