@model EhrgoHealth.Web.Areas.Patient.Models.Medicine
@{
    ViewBag.Title = "Check For Medication Allergy";
}

<h1>Check Images for Medication Allergies</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/Medicine.jpg" width="200" height="150" />
    </div>

    <div class="col-md-8">
        @using (Html.BeginForm("CheckVerification", "Home"))
        {
            <div class="row">
                <p>Enter medication to check:</p>
            </div>
            <div class="row">
                @Html.TextBoxFor(m => m.Name)
            </div>
            <div class="row">

            </div>
            <div class="row">
                <input type="submit" value="Check Medicine" />
            </div>
            
        }



    </div>
</div>

