@model EhrgoHealth.Web.Areas.Patient.Models.Medicine

@{
    ViewBag.Title = "Data Page";
}


<h2>Welcome Patient for checking things!</h2>

<p>

    Current Medicine = @Html.Raw(Model.Name.ToUpper());
</p>

