@{
    ViewBag.Title = "Patient Home Page";
}

 <style>
    .jumbotron {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px; 
        color: inherit;
        background-color: #1186C3;
   }
</style>

<div class="jumbotron">
    <h1 style="text-align:center"><font color="#FFFFFF">Ehrgo Health</font></h1>
    <h2 style="text-align:center"><font color="#FFFFFF">Patient Portal</font></h2>    
    <p class="lead">@ViewBag.Message</p>
</div>
<p>
    <h4 style="text-align:center"><i><font color="#000000">Ehrgo Health enables patients to verify new medication and track allergy history. </font></i></h4>
</p>

<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/Images/EHR_illustration2.png" />
    </div>
    <div class="col-sm-3">
        <h3><img src="~/Content/Images/rx.png" />&nbsp;Check Medication</h3>
        <p>
            Check new drug against existing treatment plans and update allergy information
        </p>
        <p>
            <a class="btn btn-default" @Html.ActionLink("Verify Medication", "CheckAllergy", "Home") </a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3><img src="~/Content/Images/notepad.png" />&nbsp;Update History</h3>
        <p>
            View and update current allergy and medication information
        </p>
        <p>
            <a class="btn btn-default" @Html.ActionLink("View or Update History", "History", "Home") </a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3><img src="~/Content/Images/fitbitlogo.png" />&nbsp;Import Fitbit Data</h3>
        <p>
            Import your fitbit food log
        </p>
        <p>
            <a class="btn btn-default" @Html.ActionLink("Goto import page", "Index", "Fitbit") </a>
        </p>
    </div>
</div>