<link rel="stylesheet" href="~/Content/SearchBox.css" />
@using(Ajax.BeginForm("Search", new AjaxOptions() { UpdateTargetId = "Result" }))
{
    <div class="row">
        <h2>Search For Patients</h2>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" name="patientSearch" class="search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
 
}
<div class="row">
    <div class="col-md-12 well-lg" id="Result">

    </div>
</div>
